@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Joan&family=Noto+Serif+JP&display=swap');
html, body {
    font-family: Arial;
    padding: 0;
    margin: 0;
    
}

/* Hide scrollbar */
html {
    -ms-overflow-style: none; /* IE, Edge */
    scrollbar-width: none; /* Firefox */
}

/* Chrome, Safari, Opera */
html::-webkit-scrollbar { 
    display: none;
}

.pos-fixed {
    position: fixed;
}
.nav-bar{
    font-family: 'Courier New', monospace;
    font-size: 0.9rem;
    justify-content: left;
    padding: 2px 0px;
}
.nav-bar > a{
    text-decoration:underline;
    color: white;
}
.nav-bar > a:hover{
    font-weight: bold;
}
.bg-black{
    background: #000;
}
.bg-white{
    background: #FFF;
}
.no-padding{ 
    padding: 0;
}

.no-margin{
    margin: 0;
}

.flex {
    display: flex;
}

.flex-col { 
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.min-h-screen {
    min-height: 100vh;
}

.min-w-screen {
    min-width: 100vw;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}


.font-header { 
    font-family: 'Joan', serif;
}

.font-jp {
    font-family: 'Noto Serif JP', serif;
}

.text-white {
    color: #FFF
}

.text-black {
    color: #000
}

.header-text-scale {
    font-size: 5vw;    
}
.subheader-text-scale{
    font-size: 2.5vw;
}
@media screen and (min-width: 1500px) {
    .header-text-scale {
        font-size: 75px;
    }
    .subheader-text-scale {
        font-size: 37.5px;
    }
}
@media screen and (max-width: 900px) {
    .header-text-scale {
        font-size: 45px;
    }
    .subheader-text-scale{
        font-size: 22.5px;
    }
}

