@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Joan&family=Noto+Serif+JP&display=swap');
html, body {
    font-family: Arial;
    padding: 0;
    margin: 0;   
}


/* --- Navigation bar --- */
.nav-bar{
    font-size: 1.2rem;
    justify-content: right;
    padding: 2px 0px;
    mix-blend-mode: difference;
}

@media screen and (max-width:430px){
    .nav-bar{
        justify-content: space-between;
        font-size: 4.465vw;
    }
}
.nav-bar > span{
    text-decoration:underline;
    color: #FAFAFA;
    cursor: pointer;
}
.nav-bar > span:hover{
    font-weight: bold;
}


/* --- Table of contents --- */
.directory{
    border: 2px solid #111;
    border-spacing: 0;                  
    margin: 20px;
}
.dir-row > td{
    padding:10px;
    border: 1px solid #111;
}
.dir-row > td:first-child{
    min-width: 106px;
    vertical-align: text-top;
}

/* == BACKGROUND == */
.bg-black{
    background: #111;
}
.bg-white{
    background: #FAFAFA;
}
.bg-transparent{
    background: transparent;
}
/* == SCROLLBAR == */
html {
    -ms-overflow-style: none; /* IE, Edge */
    scrollbar-width: none; /* Firefox */
    scroll-behavior: smooth;
}

html::-webkit-scrollbar { 
    display: none; /* Chrome, Safari, Opera */
}


/* == FLEX == */
.flex {
    display: flex;
}

.flex-col { 
    flex-direction: column;
}
.flex-row {
    flex-direction: row;
}

.justify-between{
    justify-content: space-between;
}
.justify-around {
    justify-content:space-around;
}
.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}


/* == SIZINGS == */
.min-h-screen {
    min-height: 100vh;
}
.min-w-screen {
    min-width: 100vw;
}

.w-100{
    width:100%;
}
.h-100{
    height:100%;  
}


/* == FONTS & TEXT == */
.font-header { 
    font-family: 'Joan', serif;
}
.font-jp {
    font-family: 'Noto Serif JP', serif;
}
.font-bulk {
    font-family: 'Times New Roman', Times, serif;
}
.font-courier{
    font-family:'Courier New', Courier, monospace;
}

.text-white {
    color: #FAFAFA
}
.text-black {
    color: #111
}

.text-center{
    text-align: center;
}
.text-justify{
    text-align: justify;
}

.header-text-scale {
    font-size: 5vw;    
}
.header-small-text-scale{
    font-size: 3.75vw;
}
.subheader-big-text-scale{
    font-size: 3.125vw;
}
.subheader-text-scale{
    font-size: 2.5vw;
}
.big-text-scale{
    font-size: 1.666667vw;
}
@media screen and (min-width: 1500px) {
    .header-text-scale {
        font-size: 75px;
    }
    .header-small-text-scale {
        font-size: 56.25px;
    }
    .subheader-big-text-scale {
        font-size: 46.875px;
    }
    .subheader-text-scale {
        font-size: 37.5px;
    }
    .big-text-scale{
        font-size: 25px;
    }
}
@media screen and (max-width: 900px) {
    .header-text-scale {
        font-size: 45px;
    }
    .header-small-text-scale {
        font-size: 33.75px;
    }
    .subheader-big-text-scale{
        font-size: 28.125px;
    }
    .subheader-text-scale{
        font-size: 22.5px;
    }
    .big-text-scale{
        font-size: 15px;
    }
}

.no-decoration{
    text-decoration:none;
}

.faux-link{
    color:blue;
    text-decoration: underline;
}
.faux-link:hover{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: blue;
    text-decoration-thickness: 2px;
}

.underline-text{
    text-decoration: underline;
}
.bold-hover:hover{
    font-weight:bold;
}
.no-resize-bold-hover:hover{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #111;
}
.no-text-select{
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}


/* == PADDING & MARGIN == */
.no-padding{ 
    padding: 0;
}
.no-margin{
    margin: 0;
}


/* == POSITION == */
.pos-fixed {
    position: fixed;
}

/* == MISCELLANEOUS == */
.cursor-pointer{
    cursor: pointer;
}