@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Joan&family=Noto+Serif+JP&display=swap');
html, body {
    font-family: Arial;
    padding: 0;
    margin: 0;   
}

/* Hide scrollbar */
html {
    -ms-overflow-style: none; /* IE, Edge */
    scrollbar-width: none; /* Firefox */
    scroll-behavior: smooth;
}

/* Chrome, Safari, Opera */
html::-webkit-scrollbar { 
    display: none;
}


.no-text-select{
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
.cursor-pointer{
    cursor: pointer;
}

.bolder-hover:hover{
    font-weight:bold;
    font-size:1.5rem;
}

.no-decoration{
    text-decoration:none;
}
.pos-fixed {
    position: fixed;
}
.nav-bar{
    font-family: 'Courier New', monospace;
    font-size: 1.2rem;
    justify-content: right;
    padding: 2px 0px;
    mix-blend-mode: difference;
}

@media screen and (max-width:400px){
    .nav-bar{
        justify-content: space-between;
    }
}
.nav-bar > span{
    text-decoration:underline;
    color: #FAFAFA;
    cursor: pointer;
}
.nav-bar > span:hover{
    font-weight: bold;
}
.bg-black{
    background: #000000;
}
.bg-white{
    background: #FAFAFA;
}
.no-padding{ 
    padding: 0;
}

.no-margin{
    margin: 0;
}

.flex {
    display: flex;
}

.flex-col { 
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.min-h-screen {
    min-height: 100vh;
}

.min-w-screen {
    min-width: 100vw;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.font-header { 
    font-family: 'Joan', serif;
}

.font-jp {
    font-family: 'Noto Serif JP', serif;
}

.text-white {
    color: #FAFAFA
}
.w-100{
    width:100%;
}
.h-100{
    height:100%;  
}
.text-black {
    color: #000000
}

.header-text-scale {
    font-size: 5vw;    
}
.subheader-text-scale{
    font-size: 2.5vw;
}
@media screen and (min-width: 1500px) {
    .header-text-scale {
        font-size: 75px;
    }
    .subheader-text-scale {
        font-size: 37.5px;
    }
}
@media screen and (max-width: 900px) {
    .header-text-scale {
        font-size: 45px;
    }
    .subheader-text-scale{
        font-size: 22.5px;
    }
}

